<p id="notice"><%= notice %></p>

<h1>Listing Official Photos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @official_photos.each do |official_photo| %>
      <tr>
        <td><%= official_photo.title %></td>
        <td><%= official_photo.description %></td>
        <td><%= link_to 'Show', official_photo %></td>
        <td><%= link_to 'Edit', edit_official_photo_path(official_photo) %></td>
        <td><%= link_to 'Destroy', official_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Official photo', new_official_photo_path %>
