<p id="notice"><%= notice %></p>

<h1><%= @shop.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @shop.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @shop.state %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
