<%= form_for(@access) do |f| %>
  <% if @access.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@access.errors.count, "error") %> prohibited this access from being saved:</h2>

      <ul>
      <% @access.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :how_to %><br>
    <%= f.text_area :how_to %>
  </div>
  <div class="field">
    <%= f.label :holiday %><br>
    <%= f.text_field :holiday %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
