<p id="notice"><%= notice %></p>

<h1><%= @shop.name %>の口コミ</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.title %></td>
        <td><%= review.body %></td>
        <td><%= link_to 'Show', shop_review_path(@shop.id, review) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
